/*css*/
*{
  margin: 0;
  padding: 0;
}

/*General properties*/

p{
  color: #D75749;

}

img{
  width: 100%;
  height: 100%;
}
/*header*/

header{
  background-image: url("../img/header.jpg");

}


.image_header{
  height: 200px;
}

header h1{
  color: white;
  padding-top: 80px;
  padding-left: 30px;
  text-transform: uppercase;
}

header h5{
  color: white;
  padding-left: 30px;
}

header nav{
  background-color: #363636;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

header nav ul{
text-align: center;
}
header nav ul li{
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

header nav ul li a{
  text-transform: uppercase;
  color: white;
  margin-right: 25px;
}

header nav ul li a:hover{
  color: #f8db82;
}

header h1{
margin-bottom:
}

header h4{
  margin-bottom: 30px;
  padding-left: 30px;
}
footer {
  background: linear-gradient(-45deg, #be93c5, #7bc6cc);
  margin-top: 100px;
}

footer a, footer p {
  color: rgb(89, 89, 89);

}



.copy-shade {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-top{

  padding: 5%;
}

/*navbar*/

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

 .affix + .container-fluid {
    padding-top: 70px;
}

#navbar {

	background-color: #28B799 !important;
}

#menubar li{
	text-align: center;
}

#navbar li a {
	color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 background-color: #FE0F0C;
}

.dropdown-menu{
	background-color: #333741;
	border-bottom-right-radius: 7px;
}

.dropdown-menu li a:hover {
 background-color: #D75749;
 color: #333741;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #E90F12;
    background-color:#F8BF39;
}

/*body*/

.col-lg-4,.col-lg-8{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 350px;
}

.contenu8{
  border: 2px solid  #28B799;
  box-shadow: 2px 2px 2px #333741;
  height: 250px;
  background-color: #F1EAD1;

}
.texte8{
  overflow: hidden;
  text-overflow: inherit;
  height: 80%;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}
.texte{
  overflow: hidden;
  text-overflow: inherit;
  height: 50%;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}
.button{
  text-align: center;
  margin-bottom: 15px;
}

.img{
  height: 35%;
  background-color: rgba(16, 72, 60, 0.2);
}

.imgover{
  width: 100%;
  height: 100%;
}

.contenu{
  border: 2px solid  #28B799;
  box-shadow: 2px 2px 2px #333741;
  height: 350px;
  background-color: #F1EAD1;

}

/*overlay*/

div#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
div#specialBox {
	display: none;
	position: relative;
	z-index: 3;
	margin: 150px auto 0px auto;
	width: 500px;
	height: 300px;
	background: #FFF;
	color: #000;
}
div#wrapper {
	position:absolute;
	top: 0px;
	left: 0px;
	padding-left:24px;
}

#specialBox p{
  text-align: justify;
  margin: 10px;
}

#retour{
  margin-top: 20px;
  margin-left: 220px;
}

/*footer*/
